body {
  background-color: #4682B4;
  font-family: 'Comfortaa', sans-serif;
}

#cards {
  flex:auto;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.card {
  min-width: 25%;
}

.card:hover {
  transform: scale(1.02)
}

#cards .image {
  padding: 0.3em;
  border-radius: 1em;
}

#name {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.5em;
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(0, end);
}

@keyframes type{
  from { width: 0; }
}

#bar {
  animation: blink 1s infinite;
  color: black;
}

@keyframes blink{
  to{opacity: .0;}
}

#links {
  text-align: center;
  margin-bottom: 30px;
  }

#findme {
  margin-top: 60px;
  margin-bottom: 10px;
}

.ui.inverted.button {
  font-size: 12px;
}

#icon1, #icon2, #icon3 {
  color: black;
  margin: 0 2px 0 2px;;
}

#icon1:hover, #icon2:hover, #icon3:hover {
  transform: scale(1.05);
}

.description {
  font-size: 15px;
  padding: 4px;
}

#box {
  background-color: #90b4d2;
  width: 78%;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 1em;
}

#intro{

  padding: 20px 30px;
  text-align: center;
  font-size: 1.1em;
  font-family: 'Comfortaa', sans-serif;
  line-height: 1.3;
  width: 80%;
  margin: auto;
}
